apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  PORT: "3000"
  DB_HOST: "mysql-service" 
  DB_NAME: "we" 
  DB_PORT: "3306"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP 
  ports:
  - port: 80
    targetPort: 3000
  selector:
    app: we-backend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: we-backend
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: we-backend
  template:
    metadata:
      labels:
        app: we-backend
    spec:
      containers:
      - name: backend
        image: seu-backend-imagem:latest 
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: backend-config
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: DB_PASS
